# Transformation 
#### Andrew Ribeiro 
#### July 2019
#### Source: "An Introduction to Cybernetics" by W. Ross Ashby.
<center>
A transition: $\text{operand} \xrightarrow[]{\text{operator}} \text{transform}$
</center>

In [1]:
from transformation import FiniteTransformation,InfiniteTransformation
import numpy as np
import math

In [2]:
CharTranspose = FiniteTransformation(map(chr, list(range(65, 91))), lambda operand: chr(((ord(operand) + 1) - 65) % 26 + 65))

In [3]:
CharTranspose.operator("Z")

'A'

In [4]:
CharTranspose.transitions()

[('A', 'B'),
 ('B', 'C'),
 ('C', 'D'),
 ('D', 'E'),
 ('E', 'F'),
 ('F', 'G'),
 ('G', 'H'),
 ('H', 'I'),
 ('I', 'J'),
 ('J', 'K'),
 ('K', 'L'),
 ('L', 'M'),
 ('M', 'N'),
 ('N', 'O'),
 ('O', 'P'),
 ('P', 'Q'),
 ('Q', 'R'),
 ('R', 'S'),
 ('S', 'T'),
 ('T', 'U'),
 ('U', 'V'),
 ('V', 'W'),
 ('W', 'X'),
 ('X', 'Y'),
 ('Y', 'Z'),
 ('Z', 'A')]

In [5]:
CharTranspose.closed()

True

### 2/4. Closure. 
**Ex.1:** If the operands are the positive integers 1, 2, 3, and 4, and the operator is
“add three to it”, the transformation is:

$$\downarrow 1 \; 2 \; 3 \; 4 \\  \;\; 4 \; 5 \; 6 \; 7$$
Is it closed?

In [6]:
AddThree = FiniteTransformation([1,2,3,4], lambda operand: operand + 3)

In [7]:
AddThree.operator(2)

5

In [8]:
AddThree.closed()

False

**Ex.2:** The operands are those English letters that have Greek equivalents (i.e. excluding j,q,etc.), and the operator is "turn each English letter to its Greek equivalent." Is the transformation closed?

In [9]:
englishChar = ["A","B","D","E","G","I","K","L","M","N","O","P","R","S","T","U","X","Z"]
greekChar = ["Α","Β","Δ","Ε","Γ","Ι","Κ","Λ","Ω","N","O","Π","Ρ","Σ","T","Υ","Ξ","Ζ"]
charDict = {}

for i in range(len(englishChar)):
    charDict[englishChar[i]] = greekChar[i]
        
EnglishToGreek = FiniteTransformation(englishChar, lambda operand: charDict[operand])

In [10]:
EnglishToGreek.operator("S")

'Σ'

In [11]:
EnglishToGreek.closed()

False

**Ex.3:** Are the following transformations closed or not:

A: $\downarrow a \; b \; c \; d \\  \;\;  a\; a \; a \; a$ 
B: $\downarrow f \; g \; p \; q \\  \;\;  g\; f \; q \; p$
C: $\downarrow f \; g \; p \\  \;\;  g\; f \; q $
D: $\downarrow f \; g  \\  \;\;  g\; f $

**Answer:** A,B, and D are closed because each transform is an element of the set of operands. C is not closed because "q" is not an element of the set of operands.

**Ex.4:** Write down, in the form of Ex.3, a transformation that has only one operation and is closed. 

**Answer:** $a \rightarrow a$, the identity.

**Ex.5:** Mr. C, of the Eccentrics’ Chess Club, has a system of play that rigidly prescribes, for every possible position, both for White and slack (except for those positions in which the player is already mated) what is the player’s best next move. The theory thus defines a transformation from position to position. On being assured that the transformation was a closed one, and that C always plays by this system, Mr. D. at once offered to play C for a large stake. Was D wise?

**Answer:** By making optimal moves, C is an optimal player. Is it wise to play the best possible player for a large stake? No. Although, let's say Mr. D had access to the same set of rules. Is it wise in this case? I am unsure, but I believe two optimal players can always draw in chess. If this is the case, under these new conditions, it would be a waste of time to play, since the outcome would be assured to be a draw.

### 2/5. Closure & Infinite Transformations

In [12]:
class PlusThree(InfiniteTransformation):
    def __init__(self):
        self.operandFunction = lambda x: x
        self.transformFunction = lambda x: x + 3
    def operator(self,operand):
        super().operator(operand)
        return self.transformFunction(operand)

In [13]:
PlusThree().operator(41)

44

In [14]:
PlusThree().closed()

True

In [15]:
class EvenPlusThree(InfiniteTransformation):
    def __init__(self):
        self.operandFunction = lambda x: x*2
        self.transformFunction = lambda x: x + 3
    def operator(self,operand):
        super().operator(operand)
        return self.transformFunction(operand)

In [16]:
EvenPlusThree().operator(4)

7

In [17]:
EvenPlusThree().closed()

False

**Ex.1:** In A the operands are the even numbers from 2 onwards, and the transforms are their squares:

A: $\downarrow 2 \; 4 \; 6 \; \ldots \\  \;\;  4\; 16 \; 36 \; \ldots$

Is A closed?

In [18]:
class EvenSquares(InfiniteTransformation):
    def __init__(self):
        self.operandFunction = lambda x: x*2
        self.transformFunction = lambda x: x**2
    def operator(self,operand):
        super().operator(operand)
        return self.transformFunction(operand)

In [19]:
EvenSquares().operator(6)

36

In [20]:
EvenSquares().closed()

True

**Ex. 2:** In transformation B the operands are all the positive integers $1, 2, 3,\ldots$ and each one’s transform is its right-hand digit, so that, for instance, $127 \rightarrow 7$, and $6493 \rightarrow 3$. Is B closed?

In [21]:
class RightDigit(InfiniteTransformation):
    def __init__(self):
        self.operandFunction = lambda x: x
        self.transformFunction = lambda x: int(str(x)[-1])
    def operator(self,operand):
        super().operator(operand)
        return self.transformFunction(operand)

In [22]:
RightDigit().operator(127)

7

In [23]:
RightDigit().closed()

True

### 2/6. Condense Transformation

In [24]:
from condense_transformation import condense_transformation

**Ex. 1:** Condense into one line the transformation:

A: $\downarrow 1 \; 2\; 3  \\  \;\;  11\; 12 \; 13 $

In [25]:
A = [(1, 11), (2, 12), (3, 13)]
condense_transformation(A)

'n→n+10'

In [26]:
def lambda_to_transformation(fn,operands=list(range(1,10))):
    transforms = list(map(fn,operands))
    transitions = []
    for i in range(len(operands)):
        transitions.append((operands[i],transforms[i]))
    return transitions

In [27]:
tf1 = lambda_to_transformation(lambda x: (x*2)/3)
tf1

[(1, 0.6666666666666666),
 (2, 1.3333333333333333),
 (3, 2.0),
 (4, 2.6666666666666665),
 (5, 3.3333333333333335),
 (6, 4.0),
 (7, 4.666666666666667),
 (8, 5.333333333333333),
 (9, 6.0)]

In [28]:
condense_transformation(tf1)

'n→n*2/3'

**Ex. 2:** Condense similarly the transformations:

In [29]:
a = [(1, 7), (2, 14), (3, 21)]
b = [(1, 1), (2, 4), (3, 9)]
c = [(1, 1), (2, 1/2), (3, 1/3)]
d = [(1, 10), (2, 9), (3, 8)]
e = [(1, 1), (2, 1), (3, 1)]
f = [(1, 1), (2, 2), (3, 3)]

In [30]:
condense_transformation(a)

'n→n*7'

In [31]:
condense_transformation(b)

'n→n**2'

In [32]:
condense_transformation(c)

'n→1/n'

In [33]:
condense_transformation(d)

'n→11-n'

In [34]:
condense_transformation(e)

'n→n**0'

In [35]:
condense_transformation(f)

'n→n+0'

**Ex. 3:** Write out in full the transformation in which the operands are the three
numbers 5, 6 and 7, and in which n' = n – 3. Is it closed?

In [36]:
SubThree = FiniteTransformation([5,6,7],lambda operand: operand-3)

In [37]:
SubThree.transitions()

[(5, 2), (6, 3), (7, 4)]

In [38]:
SubThree.closed()

False

**Ex. 4:** Write out in full the transformations in which:
$$n'= 5n\;(n=5,6,7)\tag{i}$$

In [39]:
MulFive = FiniteTransformation([5,6,7],lambda operand: 5*operand)

In [40]:
MulFive.transitions()

[(5, 25), (6, 30), (7, 35)]

In [41]:
MulFive.closed()

False

$$n'= 2n^2\;(n=-1,0,1)\tag{ii}$$

In [42]:
MulTwoSquared = FiniteTransformation([-1,0,1], lambda operand: 2*operand**2)

In [43]:
MulTwoSquared.transitions()

[(-1, 2), (0, 0), (1, 2)]

In [44]:
MulTwoSquared.closed()

False

**Ex. 5:** If the operands are all the numbers (fractional included) between O and I, and n' = 1/2 n, is the transformation closed? (Hint: try some representative values for n: 1/2, 3/4, 1/4, 0.01, 0.99; try till you become sure of the answer.)

In [45]:
class HalfFrac(FiniteTransformation):
    def __init__(self):
        self.O = 0
        self.I = 1
        super().__init__(np.arange(0,1,0.01), lambda operand: operand/2)
    
    def closed(self):
        for transition in self.transitions():
            if not (transition[1] >= self.O and transition[1] <= self.I):
                return False
        return True

In [46]:
HalfFrac().operator(1/2)

0.25

In [47]:
HalfFrac().operator(1/4)

0.125

In [48]:
HalfFrac().operator(3/4)

0.375

In [49]:
HalfFrac().operator(0.01)

0.005

In [50]:
HalfFrac().operator(0.99)

0.495

In [51]:
HalfFrac().closed()

True

Ex. 6: (Continued) With the same operands, is the transformation closed if $n' = \frac{1}{(n + 1)}$?

In [52]:
class OneOverN1(FiniteTransformation):
    def __init__(self):
        self.O = 0
        self.I = 1
        super().__init__(np.arange(self.O,self.I,0.01),lambda operand: 1/(operand+1))
    
    def closed(self):
        for transition in self.transitions():
            if not (transition[1] >= self.O and transition[1] <= self.I):
                return False
        return True

In [53]:
OneOverN1().operator(1/2)

0.6666666666666666

In [54]:
OneOverN1().operator(0.01)

0.9900990099009901

In [55]:
OneOverN1().closed()

True

### 2/8. One-one, many-one transformations

**Ex. 1:** The operands are the ten digits $0, 1, \ldots, 9$; the transform is the third decimal digit of $log_{10} (n + 4)$. (For instance, if the operand is 3, we find in succession, 7, $log_{10}7$, 0.8451, and 5; so $3 \rightarrow 5$.) Is the transformation one-one or many-one? (Hint: find the transforms of 0, 1, and so on in succession; use four-figure tables.)

In [56]:
def operator(operand):
    res = str(math.log10(operand+4)%1)
    if(len(res)<5):
        return 0
    else:
        return int(res[4])
        
ThirdDigit = FiniteTransformation(range(10), operator)

In [57]:
ThirdDigit.operator(2)

8

In [58]:
ThirdDigit.transitions()

[(0, 2),
 (1, 8),
 (2, 8),
 (3, 5),
 (4, 3),
 (5, 4),
 (6, 0),
 (7, 1),
 (8, 9),
 (9, 3)]

In [59]:
ThirdDigit.closed()

True

In [60]:
ThirdDigit.is_one_one()

False

The transformation is many-to-one, i.e., $1\rightarrow8$ and $2\rightarrow8$, $4\rightarrow3$ and $9\rightarrow3$.

### 2/9. Identity Transformation

**Ex. 1:** At the opening of a shop’s cash register, the transformation to be made on its contained money is, in some machines, shown by a flag. What flag shows at the identical transformation?

**Answer:** The no sale flag. 

**Ex. 2:** In cricket, the runs made during an over transform the side’s score from one value to another. Each distinct number of runs defines a distinct transformation: thus if eight runs are scored in the over, the transformation is specified by n' = n + 8. What is the cricketer’s name for the identical transformation?

**Answer:** [A Duck](https://en.wikipedia.org/wiki/Duck_(cricket))

### 2/10. Representation by matrix.

In [61]:
ThirdDigit.transitions()

[(0, 2),
 (1, 8),
 (2, 8),
 (3, 5),
 (4, 3),
 (5, 4),
 (6, 0),
 (7, 1),
 (8, 9),
 (9, 3)]

In [62]:
ThirdDigit.matrix_representation()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
8  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

**Ex. 1:** How are the +’s distributed in the matrix of an identical transformation?

**Answer:** Along the diagonal. See the identity transformation below.

In [63]:
Identity = FiniteTransformation([1,2,3,4], lambda operand: operand)

In [64]:
Identity.matrix_representation()

     1    2    3    4
1  1.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  1.0

**Ex. 2:** Of the three transformations, which is (a) one-one, (b) single-valued but not one-one, (c) not single-valued ?

**Answer:**

In [65]:
def operator(operand):
    if operand == "A":
        return ["A", "C"]
    elif operand == "B":
        return "D"
    elif operand == "C":
        return "B"
    else:
        return ["A","D"]
    
I = FiniteTransformation(["A","B","C","D"], operator)

In [66]:
I.matrix_representation()

     A    B    C    D
A  1.0  0.0  0.0  1.0
B  0.0  0.0  1.0  0.0
C  1.0  0.0  0.0  0.0
D  0.0  1.0  0.0  1.0

In [67]:
print("Is I one-to-one: {0}".format(I.is_one_one()))
print("Is I single-valued: {0}".format(I.is_single_valued()))

Is I one-to-one: False
Is I single-valued: False

In [68]:
def operator(operand):
    if operand == "A":
        return "C"
    elif operand == "B":
        return "A"
    elif operand == "C":
        return "D"
    else:
        return "B"
        
II = FiniteTransformation(["A","B","C","D"], operator)

In [69]:
II.matrix_representation()

     A    B    C    D
A  0.0  1.0  0.0  0.0
B  0.0  0.0  0.0  1.0
C  1.0  0.0  0.0  0.0
D  0.0  0.0  1.0  0.0

In [70]:
print("Is II one-to-one: {0}".format(II.is_one_one()))
print("Is II single-valued: {0}".format(II.is_single_valued()))

Is II one-to-one: True
Is II single-valued: True

In [71]:
def operator(operand):
    if operand == "A":
        return "B"
    elif operand == "B":
        return "C"
    elif operand == "C":
        return "D"
    else:
        return "B"
        
III = FiniteTransformation(["A","B","C","D"], operator)

In [72]:
III.matrix_representation()

     A    B    C    D
B  1.0  0.0  0.0  1.0
C  0.0  1.0  0.0  0.0
D  0.0  0.0  1.0  0.0

In [73]:
print("Is III one-to-one: {0}".format(III.is_one_one()))
print("Is III single-valued: {0}".format(III.is_single_valued()))

Is III one-to-one: False
Is III single-valued: True

**Ex. 3:** Can a closed transformation have a matrix with (a) a row entirely of zeros? (b) a column of zeros ?

**Answer:** A row of zeros means there is a transform without a corresponding operand. A column of zeros means there's an operand without a corresponding transform. A closed transformation can have both of these, as the lack of a one in a row or column simply means the corresponding transform or operand is omitted from the set of transitions which define the transformation.

**Ex. 4:** Form the matrix of the transformation that has $n' = 2n$ and the integers as operands, making clear the distribution of the +’s. Do they lie on a straight line? Draw the graph of $y = 2x$; have the lines any resemblance?

In [74]:
Mul2 = FiniteTransformation(range(1,10), lambda operand: 2*operand)

In [75]:
Mul2.matrix_representation()

      1    2    3    4    5    6    7    8    9
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
16  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [76]:
import matplotlib.pyplot as plt
plt.plot(list(range(1,10)),list(map(lambda x:2*x,range(1,10))))
plt.show()

**Ex. 5:** Take a pack of playing cards, shuffle them, and deal out sixteen cards face upwards in a four-by-four square. Into a four-by-four matrix write + if the card in the corresponding place is black and o if it is red. Try some examples and identify the type of each, as in *Ex. 2*.

**Answer:** There are an even number of red and black cards, so a random binary 4x4 matrix is equivalent to this exercise.

In [78]:
rand_mat = np.random.randint(2, size=(4,4))
rand_mat

array([[1, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 1, 1, 1],
       [1, 1, 0, 1]])

In [80]:
rand_transform = FiniteTransformation.matrix_to_transformation(rand_mat)
rand_transform.matrix_representation()

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  0.0  1.0  1.0
2  0.0  1.0  1.0  1.0
3  1.0  1.0  0.0  1.0

In [81]:
print("Is rand_transform one-to-one: {0}".format(rand_transform.is_one_one()))
print("Is rand_transform single-valued: {0}".format(rand_transform.is_single_valued()))

Is rand_transform one-to-one: False
Is rand_transform single-valued: False

**Question:** What is the probability of randomly generating a one-to-one transformation in the above exercise? 

**Answer:**
$$P(\text{one-to-one matrix} \;|\; 4\times4 \text{ random binary matrix}) = \frac{5^4}{2^{4\cdot4}} \approx 0.009536$$

Note: The numerator is $5^4$ instead of $4^4$ because we need to add one for the possiblity of a column of zeros.

**Question:** What is the probability of randomly generating a single-valued transformation in the above exercise? 

**Answer:** The same probability as the previous question, for obvious reasons.

**Ex. 6:** When there are two operands and the transformation is closed, how many different matrices are there?

**Answer:** $2^4-4=12$

**Ex. 7:** (Continued). How many are single-valued ?

**Answer:** $2^4-7=9$

In [98]:
single_value_count = 0
closed_count = 0
one_to_one_count = 0

for i in range(16):
    rand_mat = np.array(list(map(int,np.binary_repr(i, width=4)))).reshape((2,2))
    trans = FiniteTransformation.matrix_to_transformation(rand_mat)
    if trans.closed():
        closed_count += 1
    if trans.is_one_one():
        one_to_one_count += 1
    if trans.is_single_valued():
        single_value_count += 1

print("#closed: {0}".format(closed_count))
print("#single value: {0}".format(single_value_count))
print("#one-to-one: {0}".format(one_to_one_count))

ValueError: Empty data passed with indices specified.